body {
  background-color: rgb(91, 146, 229);
}

/* overskrift h1 design */
h1{
font-style: italic;
}

/* afsnit specificeret med anden baggrund og font størrelse */
div.one{
background: rgb(111,166,249);
}

div.left{
width: 60%;
height: 40%;
float: left;
font-size: 60px;
background-color: rgb(200,200,0);
}

div.right{
float: right;
background-color: rgb(200,100,100);
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}
